// .layout {
//     background-image: url('./../Scoreboard/Frame1.png');
// }

.teamSidebar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 482px;
    height: 114px;
    background-image: url('./backGround.svg');
    top: 0;
    &.radiant {
        left: 616px;
        .teamFlag {
            img {
                filter: invert(100%);
            }
        }
    }
    &.dire {
        background-image: url('./backGroundRight.svg');
        right: 614px;
        .teamName {
            margin-left: unset;
            margin-right: 132px;
        }
        .teamFlag {
            left: calc(100% - 132px);
            background-image: url('./red_flag.png');
        }
    }
}

.teamName {
    display: flex;
    align-items: center;
    margin-left: 132px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff;
}
.teamFlag {
    position: absolute;
    top: 0;
    left: -13px;
    width: 145px;
    height: 159px;
    background-image: url('./green_flag.png');
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        margin-bottom: 18px;
        object-fit: contain;
        height: 90%;
        width: 90%;
    }
}

.top_side_bar {
    width: 482px;
    height: 114px;
    position: absolute;
    top: 0;
    transition: opacity 1s;
    opacity: 1;
    &.hide {
        opacity: 0;
    }
    // .attack {
    //     background-repeat: no-repeat;
    //     background-position: 0 2px;
    //     background-image: url('./../Scoreboard/sword.png');
    //     padding-left: 23px;
    // }

    // &.right {
    //     right: 0;
    //     .logo_and_type {
    //         right: unset;
    //         left: -92px;

    //         img {
    //             left: unset;
    //             right: 6px;
    //         }

    //         .type_color {
    //             left: 0;
    //             right: unset;
    //         }
    //     }
    // }

    // .logo_and_type {
    //     position: absolute;
    //     right: -92px;
    //     width: 92px;
    //     height: 55px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: flex-end;
    //     overflow: hidden;
    //     background: rgba(65, 50, 68, 0.9);
    //     img {
    //         position: relative;
    //         right: 24px;
    //         max-width: 66px;
    //     }

    //     .type_color {
    //         width: 24px;
    //         height: 100%;
    //         position: absolute;
    //         z-index: 999;
    //         top: 0;
    //         right: 0;
    //         &.radiant {
    //             background-color: #25eb2a;
    //         }
    //         &.dire {
    //             background-color: #bd1313;
    //         }
    //     }
    // }
}
.commercial {
    width: 379px;
    height: 215px;
    position: fixed;
    bottom: 0;
    right: 172px;
    transition: opacity 1s;
    opacity: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    .commercial-container {
        width: 100%;
        height: 153px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img {
        position: relative;
        left: 10px;
        max-width: 70%;
        max-height: 120px;

        transition: opacity 1s;
        opacity: 1;
        &.hide {
            opacity: 0;
        }
    }
    &.hide {
        opacity: 0;
    }
}
#commercial {
    position: fixed;
    bottom: 0;
    right: 172px;
    transition: opacity 1s;
    opacity: 1;
    &.hide {
        opacity: 0;
    }
}
body {
}
.player_container {
    display: flex;
    height: 332px;
    flex-direction: column;
    position: fixed;
    align-items: center;
    bottom: 0;
    left: 664px;
    width: 288px;
    transition: opacity 1s;
    opacity: 1;
    background-color: transparent;
    &.hide {
        opacity: 0;
    }
    .player_picture {
        position: relative;
        margin-top: 90px;
        width: 284px;
        height: 242px;
        margin-left: -7px;
        background-color: #384047;
        clip-path: polygon(0px 32px, 84% 0%, 84% 100%, 11% 100%);
        .player_picture_border_left {
            z-index: 9;
            position: absolute;
            bottom: 0;
            left: 2px;
        }
        .player_picture_border_right {
            z-index: 9;
            position: absolute;
            bottom: 0;
            right: 46px;
        }
        img {
            clip-path: polygon(1% 1%, 90% 1%, 90% 99%, 13% 99%);
            max-height: 100%;
            max-width: 100%;
        }
    }
    .player_info {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background-image: url('./badge.svg');
        background-position: top left;
        background-repeat: no-repeat;
        height: 126px;
        width: 100%;
        display: flex;
        background-color: transparent;
        align-items: center;

        .team_bar {
            width: 15px;
            height: 100%;
            &.radiant {
                background-color: #25eb2a;
            }
            &.dire {
                background-color: #bd1313;
            }
        }
        .team_box {
            position: absolute;
            right: 7px;
            top: 6px;

            &.radiant {
                fill: #25eb2a;
            }
            &.dire {
                fill: #bd1313;
            }
        }
        .team_logo {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                max-width: 30px;
            }
        }
        .username {
            margin-right: 32px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            font-family: Bebas Neue;
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            text-transform: uppercase;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 24px;
            .usernameReal {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                color: #989898;
            }
            .player_kills {
                margin-left: auto;
                margin-right: 20px;
                font-weight: 500;
                display: flex;
                height: 100%;
                font-size: 14px;

                .player_kill {
                    background-repeat: no-repeat;
                    background-position: top 2px center;
                    width: 20px;
                    background-size: 18px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                }
            }
        }
    }
}
