// .layout {
//     background-image: url('./../Scoreboard/Frame1.png');
// }

@font-face {
    font-family: 'BebasNeue';
    src: url('./fonts/bebasneueregular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.teamSidebar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 482px;
    height: 114px;
    background-image: url('./backGround.svg');
    top: 0;
    &.radiant {
        left: 616px;
        .teamShortName {
            position: absolute;
            bottom: -42px;
            transform: translateX(-50%);
            left: 62%;
            clip-path: polygon(0% 4%, 100% 0%, 100% 100%, 0% 100%);
        }
    }
    &.dire {
        background-image: url('./backGroundRight.svg');
        right: 614px;
        .teamName {
            margin-left: unset;
            margin-right: 132px;
        }
        .teamFlag {
            left: calc(100% - 132px);
            background-image: url('./red_flag.png');
        }
        .teamShortName {
            position: absolute;
            bottom: -42px;
            transform: translateX(-50%);
            left: 62%;
            clip-path: polygon(0% 4%, 100% 0%, 100% 100%, 0% 100%);
        }
    }
}

.teamName {
    display: flex;
    align-items: center;
    margin-left: 132px;
    font-family: BebasNeue;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
}
.teamShortName {
    width: 234px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(30, 36, 46, 0.8);
    border-radius: 0  0 10px 10px;
    font-size: 30px;
    font-family: BebasNeue;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #BCBCBC;
}
.teamFlag {
    position: absolute;
    top: 0;
    left: -13px;
    width: 145px;
    height: 159px;
    background-image: url('./green_flag.png');
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        margin-bottom: 18px;
        object-fit: contain;
        height: 90%;
        width: 90%;
    }
}

.top_side_bar {
    width: 482px;
    height: 114px;
    position: absolute;
    top: 0;
    transition: opacity 1s;
    opacity: 1;
    &.hide {
        opacity: 0;
    }
}
.commercial {
    width: 379px;
    height: 215px;
    position: fixed;
    bottom: 0;
    right: 172px;
    transition: opacity 1s;
    opacity: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    .commercial-container {
        width: 100%;
        height: 153px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img {
        position: relative;
        left: 10px;
        max-width: 70%;
        max-height: 120px;
        transition: opacity 1s;
        opacity: 1;
        &.hide {
            opacity: 0;
        }
    }
    &.hide {
        opacity: 0;
    }
}
#commercial {
    position: fixed;
    bottom: 0;
    right: 172px;
    transition: opacity 1s;
    opacity: 1;
    &.hide {
        opacity: 0;
    }
}

.playerInfoBlock {
    &.hide {
        opacity: 0;
    }
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 560px;
    height: 560px;
    width: 362px;
    display: block;
}

.playerInfo {
    box-sizing: border-box;
    position: relative;
    padding: 15px 0 0 22px;
    color: #989898;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    letter-spacing: 0.14em;
    text-transform: uppercase;

    height: 354px;
    &::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 149px;
        background-color: #c4c4c4;
        top: 67px;
        left: 23px;
    }
}
.playerNickName {
    color: #ffffff;
    margin-bottom: 25px;
    font-family: BebasNeue;
}

.playerNickRealName {
    font-family: Roboto;
    font-size: 24px;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}
.playerKills {
    padding-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69px;
    width: 251px;
    margin-left: 21px;
    margin-bottom: 22px;
}
.playerStatistics {
    display: flex;
    margin-left: 136px;
    justify-content: space-between;
    width: 138px;
}
.playerStatisticItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    letter-spacing: 0.05em;
    align-items: center;
}

.statisticAbr {
    margin-bottom: 11px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #989898;
        top: 33px;
        left: 0;
    }
}

.teamBox {
    position: absolute;
    top: 3px;
    right: 6px;

    &.dire {
        fill: #bd1313;
    }
    &.radiant {
        fill: #25eb2a;
    }
}

.killItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 24px;
    &:last-child {
        margin-right: 0;
    }
}

.killItemImg {
    display: block;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 31px;
    height: 31px;
    background: #384047;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.killutemIcon {
    display: block;
    height: 70%;
    width: 70%;
    object-fit: contain;
}
.killItemText {
    text-transform: none;

    letter-spacing: 0.05em;
    font-size: 20px;
}

.playerAvatar {
    position: absolute;
    width: 241px;
    height: 236px;
    background-color: #384047;
    bottom: 0;
    right: 15px;
    overflow: hidden;
    clip-path: polygon(0% 29px, 100% 0%, 209px 100%, 27px 100%);
}

.playerAvatarImg {
    clip-path: polygon(2% 29px, 97% -1%, 208px 100%, 34px 100%);
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.playerAvatarLeftBorder {
    z-index: 10;
    position: absolute;
    top: 28px;
    left: -1px;
}
.playerAvatarRightBorder {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
}
